<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="QuServe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuServe"
        tools:targetApi="31">
        <activity
            android:name=".presentation.employee.main.restaurantCook.activeOrders.orderDetails.orderIsFinishedCook.CookOrderIsFinishedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.common.orderDetails.orderIsFinished.OrderFinishedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.employee.becomeWaiter.BecomeWaiterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.employee.becomeCook.BecomeCookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.employee.main.restaurantCook.activeOrders.orderDetails.OrderDetailsWithIndicatorsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantLocation.addLocation.AddLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.employee.main.restaurantCook.activeOrders.CookActiveOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.employee.main.restaurantCook.availableOrders.AvailableCookOrdersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.common.orderDetails.OrderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.home.stories.StoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantOrder.restaurantCart.orderCreated.OrderCreatedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantOrder.dishDetails.RestaurantOrderDishDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantOrder.restaurantCart.OrderCartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantOrder.menu.RestaurantOrderMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantMenu.dishDetails.addTopping.AddToppingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantMenu.dishDetails.addRequiredChoice.AddRequiredChoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantMenu.dishDetails.DishDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantMenu.addDish.AddDishActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantMenu.RestaurantMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantMenu.AddCategory.AddMenuCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantLocation.locationDetails.tableList.tableDetails.RestaurantTableDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantLocation.locationDetails.tableList.TableListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantLocation.locationDetails.RestaurantLocationDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.restaurantLocation.LocationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.companyQueue.queueDetails.workerDetails.WorkerQueueDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.service.basicUser.becomeEmployeeOptions.BecomeEmployeeOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.employee.main.queueAdminFragment.workerManager.WorkerManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.service.queue.QueueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.loggedProfile.companyUser.chooseCompany.ChooseCompanyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.companyQueue.queueDetails.CompanyQueueDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.companyQueue.queueManager.QueueManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.loggedProfile.companyUser.settingsCompany.SettingsCompanyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.loggedProfile.companyUser.editCompany.EditCompanyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.createAccount.createCompanyAccountFragment.CreateCompanyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.loggedProfile.basicUser.userSettings.BasicSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.companyQueue.createQueue.map.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.companyQueue.createQueue.CreateCompanyQueueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.employee.becomeEmployee.BecomeEmployeeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.common.waitingInQueue.WaitingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.basicQueue.queueDetails.QueueDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.common.JoinQueueFragment.JoinQueueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.basicQueue.createQueue.CreateQueueActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.loggedProfile.basicUser.historyProfile.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.loggedProfile.basicUser.editProfile.EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqX8ootFCoJ2iQsEsYvBUAhFZgyV_bmsw" />

        <activity
            android:name=".presentation.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="QuServe"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.service.ScanCode"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />

        <service android:name=".presentation.utils.queuePausedNotification.NotificationQueuePaused" />
        <service android:name=".presentation.utils.backToWorkNotification.NotificationGoBackToWork" />
        <service android:name=".presentation.utils.waitingNotification.NotificationForegroundService" />
        <service android:name=".presentation.utils.countdownTimer.TimerService" />

        <receiver
            android:name=".presentation.utils.waitingNotification.NotificationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>